.header {
    background: none repeat scroll 0 0 #3a363d;
    color: white;
    padding: 25px 0 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.logo {
    background: url("http://qltd.com/images/logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 55px;
    margin: 0 0 20px 4%;
    text-indent: -9999px;
    width: 233px;
}
.logo.x2 {
    background: url("http://qltd.com/images/logo@2x.png") repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
}
.nav-toggle {
    background: none repeat scroll 0 0 #c9005d;
    color: white;
    float: right;
    margin-right: 2%;
    padding: 5px 15px;
}
.main-nav {
    background: none repeat scroll 0 0 #c9005d;
    clear: both;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-out 0s;
}
.main-nav.open {
    max-height: 500px;
}
.main-nav ul {
    margin: 0;
    padding: 20px 0;
}
.main-nav li {
    list-style: outside none none;
    text-align: center;
}
.main-nav a {
    color: white;
    display: block;
    font: 800 14px "proxima-nova";
    letter-spacing: 1px;
    padding: 15px;
    text-transform: uppercase;
}
.main-nav a:hover {
    color: #f4810f;
}
