//styles copied from the Qnode website
$computer : 55rem;

@mixin transition($sec: 0.2s, $trans:ease-out ) {
  -webkit-transition: all $sec $trans;
  -moz-transition: all $sec $trans;
  -ms-transition: all $sec $trans;
  -o-transition: all $sec $trans;
  transition: all $sec $trans;
}


@mixin navText($size: 14px) {
  color: white;
  font: 800 $size "proxima-nova";
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header {
    background: none repeat scroll 0 0 #3a363d;
    color: white;
    padding: 25px 0 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.logo {
    float: left;
    height: 55px;
    margin: 0 0 20px 4%;
    width: 233px !important;
	background: url(../imgs/logo.png) no-repeat;
	text-indent: -9999px;
}

.nav-toggle {
    background: none repeat scroll 0 0 #c9005d;
    color: white;
    float: right;
    margin-right: 2%;
    padding: 5px 15px;
}
.main-nav {
    background: none repeat scroll 0 0 #c9005d;
    clear: both;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-out 0s;

    &.open {
        max-height: 500px;
    }

    ul {
        margin: 0;
        padding: 20px 0;
    }

    li {
        list-style: outside none none;
        text-align: center;
    }

    a {
        color: white;
        display: block;
        font: 800 14px "proxima-nova";
        letter-spacing: 1px;
        padding: 15px;
        text-transform: uppercase;

        &:hover {
            color: #f4810f;
        }
    }
}

@media (min-width: $computer) {
  .header {
    padding:25px 0 25px;
  }

  .nav-toggle {
    display: none;  
  }

  .main-nav {
    display: block !important;
    max-height:300px;
    float: right;
    margin: 13px 6% 0 0;
    background: transparent;
    clear: none;
    ul {
      li {
        display: inline-block;  
        & + li {
          margin-left: 20px;
        }
      }
      a {
        padding: 0;
      }
    }
  }
}
