/**
 *Here we will add custom styles for the Q blog on wordpress
 *@rdar
 *
 */

a {
    text-decoration: none;
    transition: all 0.2s ease-out 0s;
}

#qblog_header {
    a {
        text-decoration: none; 
        font-family: sans-serif;
    }
}

#posts {
    .post {
        opacity:1; 
        border: 1px solid #fff;
        border-radius: 2px;
        padding: 1.25em 1.25em 0;

        a {
            text-decoration: none; 
        }
    }

    header {
        border-bottom:none; 
    }

    footer {
        border-top:none; 
    }

    .gallery-columns-3 .gallery-item {
        max-width: 100%;
    }
}

nav.navigation.posts-navigation {
    float:none;
}
